body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.header1 {
  height: 70px;
   
}

.nav1 {
  display: flex;
  justify-content: center;

  align-items: center;

  justify-content: space-between;
  padding-right: 4px;
  padding-left: 6px;
}

.image1 {
  width: 80px;
  height: 80px;
}

.list1 {
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: center;
}
.span1 {
  color: blue;
}

.button1 {
  background-color: #28a9f6;
  border: none;
  border-radius: 20px;
  padding: 14px 18px;
}
.button1:hover {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  cursor: pointer;
}

.button2 {
  background-color: white;
  border: none;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 20px;
  padding: 14px 18px;
}

.button2:hover {
  background-color: #f9fafb;
  cursor: pointer;
}

/* end of navbar */

.section1{
    
    
}
.header2{
    height: 300px;
    background-color: #E7F9FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 20px;    
}

.heading1{
    font-weight: bold;
    font-size: 50px;

}

.span2{
    color: #00BBFD;

}

.text1{
    text-align: center;
   
}