/* start of nav part */

.header1 {
  background: linear-gradient(#191f4b, #101214);
}

.nav1 {
  display: flex;
  justify-content: space-evenly;

  align-items: center;
  gap: 0.1rem;
  border: 5px;
}
.nav1 img {
  width: 100px;
}

.list1 {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.link1 {
  text-decoration: none;
  color: white;
}
.box1 {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.button1 {
  background-color: #3397f6;
  color: white;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border-radius: px;
  border: none;
}

/* end of nav part */
/* start of main part */

.main1 {
  margin-top: 10px;
}
.section1 {
  background: linear-gradient(#101214, #338df6);
  justify-content: center;
  padding: 6px;
}

.box2 {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1rem;

  justify-content: center;
  text-align: center;
}

.button2 {
  background-color: #172d41;
  color: white;
  /* padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; */
  padding: 4px 6px;
  font-size: 10px;

  border-radius: 5px;
  border: none;
}

.box3 img {
  width: 200px;
  height: 150px;
}
.button3 {
  background-color: #3397f6;
  color: white;
  /* padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; */
  padding: 4px 6px;
  font-size: 10px;

  border-radius: 5px;
  border: none;
}
.box5 {
  justify-content: center;
  text-align: center;
}

.box4 img {
  width: 80px;
}

/* end of main part */
/* start of core features */

.header2 {
  margin-top: 10px;
  justify-content: center;
  text-align: center;
}
.header2 button {
  background-color: #d6eafd;
  color: white;
  /* padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; */
  padding: 6px 8px;
  font-size: 10px;
  color: black;

  border-radius: 5px;
  border: none;
}

.text1 {
  font-size: 13px;
}
.box7 {
  display: grid;
  grid-template-columns: repeat(1fr);
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1rem;
}

.box6 {
  text-align: center;
  width: 250px;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.box6 img {
  width: 200px;
}
.box8 {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  text-align: center;
  width: 250px;
  background-color: #eff2f5;
  color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 260px;
}
.heading1 {
  color: black;
}
.text2 {
  color: #838384;
}
.box8 img {
  border-radius: 50%;
  width: 30px;
}
.box9 {
  display: flex;
  justify-content: center;
}

.box10 {
  text-align: center;
  width: 250px;
  background: linear-gradient(#00129a, #3397f6);
  color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.box10 img {
  width: 200px;
}
.box13 {
  margin: 10px;
  display: flex;
  gap: 2rem;
}

.box11 {
  display: flex;
  gap: 1rem;
}
.box12 img {
  width: 200px;
}

.box16{
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  justify-content: center;
  text-align: center;
  align-items: center;
}

.box14 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  background: linear-gradient(280deg, #00129a, #3397f6);
  padding: 10px;
   border-radius: 10px;
}
.heading3 {
  text-align: start;
}


.box14 img {
  width: 300px;
  border-radius: 10px;
}

.box15 {
 display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  background-color: black;
  padding: 10px;
   border-radius: 10px;
   color: white;
}
.box15 img {
width: 300px;
  border-radius: 10px;
}

.section21{
  padding-top: 20 px;
  background: linear-gradient(#14182C, #1E276B);
}
.header21{
 
 
  text-align: center;
  line-height: 1rem;
}
.button21{

 border: none;
 border-radius: 2px;
 background-color: #172D41;
 color: white;
}
.box22{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.box21{
  
  width: 300px;
  background-color: white;
  padding: 1rem;
  
}

.box23{
  text-align: center;
}
.button22{
  padding: 6px 12px ;
  background-color: black;
  color: white;

}


.box24{
  
 width: 300px;
  background-color: #3397F6;
  padding: 1rem;
  color: white;
}
.button23{
  padding: 6px 12px ;
  background-color: white;
  color: black;
  border: none;
  
}