#box1 {
  background-color: blanchedalmond;
  text-align: center;

  align-items: center;
}

#box2 {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
#box2 img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
button {
  background-color: blueviolet;
  border-radius: 0.2rem;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
  width: 80px;
  color: white;
}
button:hover {
  background-color: blue;
}
