#cat {
  display: flex;
  justify-content: center;

  gap: 2rem;
}

#cat2 p {
  text-align: center;
}

#cat3 {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
button {
  color: white;
  background-color: blueviolet;
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
  font-size: 10px;
  cursor: pointer;
}
button:hover {
  background-color: blue;
}
