#container {
  display: flex;
  gap: 2rem;
  background-color: aquamarine;

  justify-content: center;
  align-items: center;
}
#box1 {
  justify-content: center;
  font: 20px;
}

#button1 {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
}
#button2 {
  background-color: green;
  color: black;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
}

