#container1 {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  gap: 2rem;
}

.box1 {
  flex-grow: 1;
  width: 300px;
  background-color: aqua;
  padding: 12px;
}

.box {
  background-color: tomato;
  flex-grow: 0;
  padding: 12px;
}

.box1:nth-of-type(1) {
  order: 2;
}

.box1:nth-of-type(2) {
  order: 3;
}
