/* .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  gap: 2rem;
}
.box1 {
  padding: 14px;
  background-color: aqua;
}

@media screen and (min-width: 600px) {
  .box1 {
    background-color: blue;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 900px) {
  .box1 {
    background-color: gold;
  }
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
} */

.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  /* mobile */
  gap: 1.5rem;
  padding: 20px;
}

.blog-card {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
}

.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.blog-card h2 {
  padding: 12px;
  font-size: 20px;
}

.blog-card p {
  padding: 0 12px 16px;
  font-size: 16px;
  color: black;
}

/* Tablet */
@media screen and (min-width: 600px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
