.Main {
  display: flex;
  background-color: black;
  height: 300px;

  align-items: center;
  justify-content: center;
  padding: 12px;
}
.Main h1 {
  color: white;
  font-size: 30px;
}
.Main p {
  color: white;
  font-size: 20px;
}
.mainbox {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 20px;
  gap: 2rem;
}

.box {
  background-color: #f4f4f4;
  gap: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
}

.box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.box h2 {
  margin-top: 1rem;
}
.box p {
  color: #555;
}

/* Tablets */

@media screen and (min-width: 600px) {
  .mainbox {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* DESKTOPS */

@media screen and (min-width: 800px) {
  .mainbox {
    grid-template-columns: repeat(3, 1fr);
  }
}
