.box {
  text-align: center;
}
.box h2 {
  color: #292443;
}
.box p {
  color: #3f3f3f;
  font-size: 20px;
}
.main {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-content: center;
}

.box1 {
  width: 250px;
  background-color: white;
  padding: 14px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.08);
  border: 1px solid #f1f1f1;
  border-radius: 6px;
}
.box1 img {
  width: 220px;
  height: 130px;
}
.box1 h3 {
  font-size: 18px;
  color: #292443;
}
.box1 p {
  font-size: 14px;
  color: #3f3f3f;
}
