table {
  width: 300;
  border: 2px solid ;black
  border-collapse: collapse;
  text-align: center;
}
#th {
  background-color: purple;
  color: white;
}
tr :nth-child(odd) {
  background-color: aqua;
}
tr :nth-child(even) {
  background-color: blue;
}
